{% extends "base.html" %}
{% block con %}
    <section class="content">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <form action="" method="post" novalidate>
                    {% csrf_token %}
                    {% for class in class_list %}
                        <div class="form-group">
                            <label>{{ class.label }}</label>
                            {{ class }}
                            <span style='color: red;'>{{ class.errors.0 }}</span>
                        </div>
                    {% endfor %}
                    <button class="btn btn-primary">提交</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}